.navbar {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
}
  
NavLink {
  padding: 20px 20px;
}

.inactive {
  color: #808080;
  text-decoration: none;
  padding: 0px 30px;
  line-height: 8vh;
  letter-spacing: 3px;
}

.active {
  color: #333333;
  text-decoration: none;
}

