.navbar {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
}

.navbar:after {
  border-bottom: 8px solid #E6E2DF;
}
  
NavLink {
  padding: 20px 20px;
}

.inactive {
  color: #808080;
  text-decoration: none;
  padding: 0px 30px;
  line-height: 8vh;
  letter-spacing: 3px;
}

.active {
  color: #333333;
  text-decoration: none;
}

@media all and (max-width: 1000px) {
  .navbar {
    justify-content: row;
    position: fixed;
    flex-wrap: wrap;
  }
  .inactive {
    padding: 0px 20px;
    line-height: 4vh;
    letter-spacing: 0px;
  }
}

@media all and (max-width: 500px) {
  .navbar {
    flex-direction: row;
    position: fixed;
  }
  .inactive {
    padding: 0px 30px;
    line-height: 4vh;
    letter-spacing: 0px;
  }
  .navbar .left{
    justify-content: left;
  }
  .right{
    justify-content: left;
  }
}