/* html{
  overflow-y: hidden; 
  overflow-x: hidden;
} */

.container {
  display: flex;
  flex-flow: wrap;
}

.photoGrid {
  flex-grow: 1;
  overflow-y: scroll; 
  width: 100px;  
  height: 92vh;
}

.photoGrid img {
  width: 100%;
  margin: -2px 0px;
}

.sticky {
  text-align: center;
  background-color: #333333;
  height: 5vh;
  color: white;
  text-transform: uppercase;
  line-height: 5vh;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

@media all and (max-width: 500px) {
  .container {
    flex-wrap: nowrap
  }
}