.photoContainer {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-flow: row wrap;
}

.photoGrid {
  border: 1px solid black;
  align-self: stretch;
  flex-shrink: 900;
  flex-grow: 2;
  width: 100px;  
  height: auto;
  margin: auto;  
}