.photoContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
 
}

.photoGrid {
  flex-grow: 1;
  overflow-y: scroll; 
  width: 100px;  
  overflow-y: scroll;
  height: 100vh;
}

.photoGrid img {
  width: 100%;
  margin: -2px 0px;
}

.sticky {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  align-self: flex-end;
}