.intro {
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  height: 5vh;
  line-height: 5vh;
  padding-left: 2%;
}

.art {
  display: flex;
  flex-direction: row;
  overflow-y: scroll; 
}

.art img {
  width: 100%;
  height: auto;
}



