.intro {
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  height: 5vh;
  line-height: 5vh;
}

.about-container {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 5%;
  align-items: center;
  justify-content: center;
}

.item {

  border: 1pt solid black 
}

.item img {
  align-self: center;
  width: 70%
}