.intro {
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  height: 5vh;
  line-height: 5vh;
}

.about-container {
  display: flex;
  padding: 10vh;
  justify-content: center;
}

.about-container img {
  width:40vh; 
  height: auto;
  padding: 2vh;
}

.links {
  border: 1pt solid black;
  align-content: center;
}

.links img {
  width: 10vh;
  align-self: center;
}

@media all and (max-width: 800px) {
  .about-container {
    justify-content: column;
    padding: 25px;
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}



