.intro {
  background-color: #333333;
  color: white;
  text-transform: uppercase;
  height: 5vh;
  line-height: 5vh;
}

.about-container {
  text-align: center;
  margin: auto;
    width: 50%;
    border: 3px solid green;
  
}





